Source: hid-magicmouse-dkms
Section: admin
Priority: optional
Maintainer: Adam McDaniel <adam@jolicloud.org>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~),
 dh-modaliases

Package: hid-magicmouse-dkms
Architecture: i386 amd64
Depends: ${misc:Depends}, dkms, linux-libc-dev, libc6-dev, linux-headers-generic [i386 amd64] | linux-headers, linux-headers-lpia [lpia]
XB-Modaliases: ${modaliases}
Description: Realtek 8192cu Linux wireless driver source
